name: Publish UnoWeb
on:
   workflow_dispatch: # This triggers the workflow manually
jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.102
    - name: Create URL file
      run: |
        echo "${{ secrets.PROJECTURL }}" > project-url.txt
    
    - name: Setup Project
      run: |
        wget -O "AppName.zip" "${{ secrets.PROJECTURL }}"
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: project-files
        path: |
          project-url.txt
          AppName.zip




          

        
