name: Publish UnoWeb

on:
   workflow_dispatch: # This triggers the workflow manually

jobs:
  build:

    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4


    - name : Send Notifcation To User
      run : |
        curl --location --globoff 'https://api.onesignal.com/notifications' \
        --header 'Content-Type: application/json' \
        --header 'Authorization: Basic ${{ secrets.ONESIGNALAPI}}' \
        --data '{
         "app_id": "897e14e3-7897-4206-aa80-ee2fd35c7c0d",
        "include_subscription_ids": ["b3767d8f-583a-4ce3-970a-a34411eea209"],
         "contents": {"en": "We apologize for the issue you encountered while building your app. You can try the process again now, and it should complete successfully."}
          }'




          

        




          

        
